<!DOCTYPE html>

<!-- комментарий в HTML -->

<!-- в первой строке мы сообщаем браузеру,
  что это документ HTML5 -->

<html>

  <head>
    <title>Веб-форма</title>
    <link rel="stylesheet" href="./foradmin.css" />
  </head>


  <body>

    <h2>Панель админа</h2>

    <form action="https://dandelion-pepper-tartan.glitch.me/login" method="POST" enctype="application/x-www-form-urlencoded">
      Логин:
      <input type="text" name="username" />
      Пароль:
      <input type="password" name="password" />
      <button type="submit">Войти</button>
    </form>

  </body>

</html> 