<!--
Задача 7.

Составить HTML-форму с полями:

- имя (текстовое поле);

- e-mail (текстовое поле);

- год рождения (выбор из списка);

- пол (радиокнопки);

- количество конечностей (радиокнопки);

- сверхспособности: бессмертие, прохождение сквозь стены, левитация (множественный выбор из списка);

- биография (многострочное текстовое поле);

- с контрактом ознакомлен (чекбокс);

- кнопка «Отправить».

Оформить страницу красиво с использованием CSS. 

-->

<!DOCTYPE html>

<!-- комментарий в HTML -->

<!-- в первой строке мы сообщаем браузеру,
  что это документ HTML5 -->

<html>

  <head>
    <title>Веб-форма</title>
    <link rel="stylesheet" href="./forform.css" />
  </head>

  <body>


  <body>

	<h2>Сохранено</h2>

    <div>
      <a href="https://dandelion-pepper-tartan.glitch.me/login.html">Войти ещё</a>
    </div>

  </body>

</html> 